In [2]:
import pandas as pd
import numpy as np

datos = pd.read_csv("athlete_events.csv")

In [5]:
datos

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271111,135569,Andrzej ya,M,29.0,179.0,89.0,Poland-1,POL,1976 Winter,1976,Winter,Innsbruck,Luge,Luge Mixed (Men)'s Doubles,NaN
271112,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",NaN
271113,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Team",NaN
271114,135571,Tomasz Ireneusz ya,M,30.0,185.0,96.0,Poland,POL,1998 Winter,1998,Winter,Nagano,Bobsleigh,Bobsleigh Men's Four,NaN
271115,135571,Tomasz Ireneusz ya,M,34.0,185.0,96.0,Poland,POL,2002 Winter,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Four,NaN

In [9]:
datos["Sex"].unique().tolist()

['M', 'F']

In [11]:
datos["Sport"]=="Judo"

0         False
1          True
2         False
3         False
4         False
          ...
271111    False
271112    False
271113    False
271114    False
271115    False
Name: Sport, Length: 271116, dtype: bool

In [13]:
datosJudo = datos[datos["Sport"]=="Judo"]
datosJudo

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
160,64,M'Bairo Abakar,M,31.0,NaN,NaN,Chad,CHA,1992 Summer,1992,Summer,Barcelona,Judo,Judo Men's Half-Middleweight,NaN
180,78,Salim Abanoz,M,26.0,NaN,NaN,Turkey,TUR,1996 Summer,1996,Summer,Atlanta,Judo,Judo Men's Lightweight,NaN
412,229,Mohamed Ali Abdelaal,M,26.0,175.0,81.0,Egypt,EGY,2016 Summer,2016,Summer,Rio de Janeiro,Judo,Judo Men's Half-Middleweight,NaN
435,242,Ahmed Abdelrahman,M,20.0,165.0,60.0,Egypt,EGY,2016 Summer,2016,Summer,Rio de Janeiro,Judo,Judo Men's Extra-Lightweight,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
270853,135459,Oleg Zurabiani,M,19.0,172.0,64.0,Soviet Union,URS,1976 Summer,1976,Summer,Montreal,Judo,Judo Men's Lightweight,NaN
270918,135482,Goran uvela,M,27.0,184.0,93.0,Yugoslavia,YUG,1976 Summer,1976,Summer,Montreal,Judo,Judo Men's Half-Heavyweight,NaN
270981,135503,Zurab Zviadauri,M,23.0,182.0,90.0,Georgia,GEO,2004 Summer,2004,Summer,Athina,Judo,Judo Men's Middleweight,Gold
271032,135535,Claudia Antoinette Zwiers,F,22.0,181.0,78.0,Netherlands,NED,1996 Summer,1996,Summer,Atlanta,Judo,Judo Women's Middleweight,Bronze
271033,135535,Claudia Antoinette Zwiers,F,30.0,181.0,78.0,Netherlands,NED,2004 Summer,2004,Summer,Athina,Judo,Judo Women's Half-Heavyweight,NaN

In [14]:
datosFut = datos[datos["Sport"]=="Football"]
datosFut

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
105,37,Ann Kristin Aarnes,F,23.0,182.0,64.0,Norway,NOR,1996 Summer,1996,Summer,Atlanta,Football,Football Women's Football,Bronze
116,41,Rolf Aas,M,28.0,NaN,NaN,Norway,NOR,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
157,61,Stefan Abadzhiev,M,26.0,175.0,72.0,Bulgaria,BUL,1960 Summer,1960,Summer,Roma,Football,Football Men's Football,NaN
178,76,Jouan Patrice Abanda Etong,M,22.0,185.0,82.0,Cameroon,CMR,2000 Summer,2000,Summer,Sydney,Football,Football Men's Football,Gold
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
270810,135438,Manuel Ziga Fernndez,M,20.0,172.0,69.0,Spain,ESP,1980 Summer,1980,Summer,Moskva,Football,Football Men's Football,NaN
270843,135455,Vjekoslav upani,M,19.0,NaN,NaN,Yugoslavia,YUG,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
270901,135476,Emily Jane Zurrer,F,21.0,179.0,69.0,Canada,CAN,2008 Summer,2008,Summer,Beijing,Football,Football Women's Football,NaN
270982,135504,Viktor Oleksandrovych Zviahintsev,M,25.0,178.0,79.0,Soviet Union,URS,1976 Summer,1976,Summer,Montreal,Football,Football Men's Football,Bronze
271107,135566,"James Francis ""Jim"" Zylker",M,21.0,175.0,75.0,United States,USA,1972 Summer,1972,Summer,Munich,Football,Football Men's Football,NaN

In [15]:
datosFut["Sex"].count()

6745

In [16]:
datosFut["Sex"].value_counts()

M    5733
F    1012
Name: Sex, dtype: int64

In [17]:
datosFut["Age"].max()

40.0

In [18]:
datosFut["Age"].min()

15.0

In [21]:
datosFut[datosFut["Age"]==15]

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
128439,64677,Samuel Osei Kuffour,M,15.0,175.0,75.0,Ghana,GHA,1992 Summer,1992,Summer,Barcelona,Football,Football Men's Football,Bronze
156711,78727,Louis John Menges,M,15.0,NaN,NaN,Christian Brothers' College-1,USA,1904 Summer,1904,Summer,St. Louis,Football,Football Men's Football,Silver
180261,90593,Chatchai Paholpat,M,15.0,169.0,54.0,Thailand,THA,1968 Summer,1968,Summer,Mexico City,Football,Football Men's Football,NaN
188957,94914,Chirawat Pimpawatin,M,15.0,166.0,60.0,Thailand,THA,1968 Summer,1968,Summer,Mexico City,Football,Football Men's Football,NaN
208319,104558,Abdel-Karim Muhammad Mahmoud Ezzat Sakr,M,15.0,NaN,NaN,Egypt,EGY,1936 Summer,1936,Summer,Berlin,Football,Football Men's Football,NaN

In [23]:
datosFut[datosFut["Age"]==40]

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
155668,78145,"Margarete Maria ""Meg"" Pioresan",F,40.0,175.0,64.0,Brazil,BRA,1996 Summer,1996,Summer,Atlanta,Football,Football Women's Football,NaN
262097,131136,Oros Witarsa,M,40.0,NaN,NaN,Indonesia,INA,1956 Summer,1956,Summer,Melbourne,Football,Football Men's Football,NaN

In [29]:
OrdAge = datosFut.sort_values(by=["Weight"])
OrdAge

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
268586,134370,"Albert Ferdinand ""Al"" Zerhusen",M,24.0,183.0,28.0,United States,USA,1956 Summer,1956,Summer,Melbourne,Football,Football Men's Football,NaN
103855,52546,Tawa Bolanle Ishola,F,19.0,160.0,45.0,Nigeria,NGR,2008 Summer,2008,Summer,Beijing,Football,Football Women's Football,NaN
164358,82510,Linda Maserame Motlhalo,F,18.0,162.0,47.0,South Africa,RSA,2016 Summer,2016,Summer,Rio de Janeiro,Football,Football Women's Football,NaN
196365,98583,Lebohang Ester Ramalepe,F,24.0,155.0,48.0,South Africa,RSA,2016 Summer,2016,Summer,Rio de Janeiro,Football,Football Women's Football,NaN
176013,88475,Vera Okolo,F,19.0,161.0,48.0,Nigeria,NGR,2004 Summer,2004,Summer,Athina,Football,Football Women's Football,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
270443,135272,Zou Wenzhi,M,NaN,NaN,NaN,China,CHN,1948 Summer,1948,Summer,London,Football,Football Men's Football,NaN
270478,135289,Zzimo Alves Calazans,M,20.0,NaN,NaN,Brazil,BRA,1952 Summer,1952,Summer,Helsinki,Football,Football Men's Football,NaN
270661,135361,Abdullah Sulaiman Zubromawi,M,22.0,176.0,NaN,Saudi Arabia,KSA,1996 Summer,1996,Summer,Atlanta,Football,Football Men's Football,NaN
270718,135386,Enea Zuffi,M,20.0,NaN,NaN,Italy,ITA,1912 Summer,1912,Summer,Stockholm,Football,Football Men's Football,NaN
270843,135455,Vjekoslav upani,M,19.0,NaN,NaN,Yugoslavia,YUG,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN

In [30]:
OrdAge[OrdAge["Age"].notna()]

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
268586,134370,"Albert Ferdinand ""Al"" Zerhusen",M,24.0,183.0,28.0,United States,USA,1956 Summer,1956,Summer,Melbourne,Football,Football Men's Football,NaN
103855,52546,Tawa Bolanle Ishola,F,19.0,160.0,45.0,Nigeria,NGR,2008 Summer,2008,Summer,Beijing,Football,Football Women's Football,NaN
164358,82510,Linda Maserame Motlhalo,F,18.0,162.0,47.0,South Africa,RSA,2016 Summer,2016,Summer,Rio de Janeiro,Football,Football Women's Football,NaN
196365,98583,Lebohang Ester Ramalepe,F,24.0,155.0,48.0,South Africa,RSA,2016 Summer,2016,Summer,Rio de Janeiro,Football,Football Women's Football,NaN
176013,88475,Vera Okolo,F,19.0,161.0,48.0,Nigeria,NGR,2004 Summer,2004,Summer,Athina,Football,Football Women's Football,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
269620,134916,Alfredo J. Zibecchi,M,28.0,NaN,NaN,Uruguay,URU,1924 Summer,1924,Summer,Paris,Football,Football Men's Football,Gold
270478,135289,Zzimo Alves Calazans,M,20.0,NaN,NaN,Brazil,BRA,1952 Summer,1952,Summer,Helsinki,Football,Football Men's Football,NaN
270661,135361,Abdullah Sulaiman Zubromawi,M,22.0,176.0,NaN,Saudi Arabia,KSA,1996 Summer,1996,Summer,Atlanta,Football,Football Men's Football,NaN
270718,135386,Enea Zuffi,M,20.0,NaN,NaN,Italy,ITA,1912 Summer,1912,Summer,Stockholm,Football,Football Men's Football,NaN
270843,135455,Vjekoslav upani,M,19.0,NaN,NaN,Yugoslavia,YUG,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
105,37,Ann Kristin Aarnes,F,23.0,182.0,64.0,Norway,NOR,1996 Summer,1996,Summer,Atlanta,Football,Football Women's Football,Bronze
178,76,Jouan Patrice Abanda Etong,M,22.0,185.0,82.0,Cameroon,CMR,2000 Summer,2000,Summer,Sydney,Football,Football Men's Football,Gold
268,139,"George ""Ioannis"" Abbot",M,NaN,NaN,NaN,Thessalonki-1,GRE,1906 Summer,1906,Summer,Athina,Football,Football Men's Football,Bronze
663,385,"Max ""Xam"" Abegglen",M,22.0,NaN,NaN,Switzerland,SUI,1924 Summer,1924,Summer,Paris,Football,Football Men's Football,Silver
702,401,Abelardo Fernndez Antua,M,22.0,NaN,NaN,Spain,ESP,1992 Summer,1992,Summer,Barcelona,Football,Football Men's Football,Gold
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
269104,134653,Zhao Lihong,F,23.0,168.0,55.0,China,CHN,1996 Summer,1996,Summer,Atlanta,Football,Football Women's Football,Silver
269209,134708,Petar Petrov Zhekov,M,24.0,181.0,76.0,Bulgaria,BUL,1968 Summer,1968,Summer,Mexico City,Football,Football Men's Football,Silver
269620,134916,Alfredo J. Zibecchi,M,28.0,NaN,NaN,Uruguay,URU,1924 Summer,1924,Summer,Paris,Football,Football Men's Football,Gold
270189,135167,Wadysaw Antoni muda,M,22.0,187.0,84.0,Poland,POL,1976 Summer,1976,Summer,Montreal,Football,Football Men's Football,Silver
270982,135504,Viktor Oleksandrovych Zviahintsev,M,25.0,178.0,79.0,Soviet Union,URS,1976 Summer,1976,Summer,Montreal,Football,Football Men's Football,Bronze

In [33]:
datos = pd.read_csv("athlete_events.csv")

In [102]:
datos1 = datos[datos["Medal"].notna()]
datos1 = datos1[datos1["Age"]==datos1["Age"].max()]
print("Jugador mas veterano que ha ganado medalla es:")
datos1

Jugador mas veterano que ha ganado medalla es:

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
44584,22984,John (Herbert Crawford-) Copley (Williamson-),M,73.0,NaN,NaN,Great Britain,GBR,1948 Summer,1948,Summer,London,Art Competitions,"Art Competitions Mixed Painting, Graphic Arts",Silver

In [101]:
datos2 = datos[datos["Medal"]=="Gold"]
datos2 = datos2[datos2["Age"]==datos2["Age"].min()]
print("Los jugadores mas jovenes que han ganado medalla de oro son:")
datos2

Los jugadores mas jovenes que han ganado medalla de oro son:

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
27207,14142,Hans Bourquin,M,13.0,NaN,NaN,Switzerland,SUI,1928 Summer,1928,Summer,Amsterdam,Rowing,Rowing Men's Coxed Pairs,Gold
52010,26731,Donna Elizabeth de Varona (-Pinto),F,13.0,168.0,61.0,United States,USA,1960 Summer,1960,Summer,Roma,Swimming,Swimming Women's 4 x 100 metres Freestyle Relay,Gold
73581,37398,Fu Mingxia,F,13.0,160.0,48.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Diving,Diving Women's Platform,Gold
78544,39866,Marjorie Gestring (-Redlick),F,13.0,NaN,NaN,United States,USA,1936 Summer,1936,Summer,Berlin,Diving,Diving Women's Springboard,Gold
119277,60384,Kim Yun-Mi,F,13.0,160.0,48.0,South Korea,KOR,1994 Winter,1994,Winter,Lillehammer,Short Track Speed Skating,"Short Track Speed Skating Women's 3,000 metres...",Gold
200704,100797,Aileen Muriel Riggin (-Soule),F,13.0,142.0,NaN,United States,USA,1920 Summer,1920,Summer,Antwerpen,Diving,Diving Women's Springboard,Gold
268602,134381,Klaus Zerta,M,13.0,165.0,48.0,Germany,GER,1960 Summer,1960,Summer,Roma,Rowing,Rowing Men's Coxed Pairs,Gold

In [123]:
datos[datos["Medal"].notna()]["Name"].value_counts()
datos3 = datos[datos["Name"]=="Michael Fred Phelps, II"]
datos3.to_csv("medallistas.csv",header=True,index=True)